[2014-04-10 14:03] trho opened #1 "Creation of 64-bit NegativeInteger >= -4294967296L fails"
The following assertion in the NegativeInteger(long) constructor prevents the creation of negative integer instances  >= -4294967296L:

public NegativeInteger(long value) {
        this(BigInteger.valueOf(value));
        assertTrue(value < 0L, "value " + value + " is not < 0");
        assertTrue(value >= -4294967296L, "value is not >= -4294967296");  // <- should be removed
}

[2014-04-12 09:19] #1 closed, assigned to nobody

[2014-07-21 06:05] thomaslee opened #2 "New release?"
I'm using 0.3 from Maven Central & #1 is biting me in a pretty bad way -- I'm sending UUIDs encoded as two longs & negative values are exploding pretty regularly.

I can work around the issue using strings for now, but any possibility we could get a release of 0.4 sometime soon-ish for those of us who don't like vendoring jars? :)

[2014-07-25 21:41] c-rack opened #3 "Support Tag 25: Reference the n-th previously seen string"
http://cbor.schmorp.de/stringref

[2014-07-25 21:42] c-rack opened #4 "Support Tag 26: Serialised Perl object with classname and constructor arguments"
http://cbor.schmorp.de/perl-object

[2014-07-25 21:43] c-rack opened #5 "Support Tag 27: Serialised language-independent object with type name and constructor arguments"
http://cbor.schmorp.de/generic-object

[2014-07-25 21:43] c-rack opened #6 "Support Tag 28: mark value as (potentially) shared"
http://cbor.schmorp.de/value-sharing

[2014-07-25 21:44] c-rack opened #7 "Support Tag 29: reference n-th marked value"
http://cbor.schmorp.de/value-sharing

[2014-07-25 21:45] c-rack opened #8 "Support Tag 30: Rational number"
http://peteroupc.github.io/CBOR/rational.html

[2014-07-26 09:17] #2 closed, assigned to nobody

[2014-09-11 22:24] #4 closed, assigned to nobody

[2015-05-20 20:08] c-rack commented on #8
Encoding is implemented. Now we need the decoding.

[2015-05-21 17:13] #8 closed

[2015-05-22 11:31] c-rack opened #11 "Support Tag 38: Language-Tagged Strings"
https://peteroupc.github.io/CBOR/langtags.html

[2015-05-22 18:59] #11 closed

[2015-12-07 20:37] neothemachine opened #15 "High-level layer"
I was wondering if it would make sense to add optional functionality where the input of encoding and output of decoding are Java objects like List, Map, etc. That would make it easier to use the library for the non-streaming case. Semantic tags could be handled in the encoding process by registering semantic tag handlers which would work on certain class/interface types. For example, a Date object

[2015-12-07 21:04] c-rack commented on #15
Thanks for asking!

For Lists and Maps, we basically already have that with CBOR arrays and maps, but without automatic conversion to `List<Long>` or `Map<String, String>` of course.

For semantic tags, I would like to keep this project standard-compliant, implementing only semantic tags that are registered at https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml

So if there is a CBOR tag fo

[2015-12-07 21:40] neothemachine commented on #15
Just to clarify, it sounds to me like you rather would put a high-level layer (sometimes called object mapper) in a separate library and keeping this one strictly to the low-level encoding/decoding, right?

My personal use case is that I'd like to encode packed arrays as detailed in this draft: https://tools.ietf.org/html/draft-jroatch-cbor-tags-03 It may become a standard but of course I want to

[2015-12-08 12:35] c-rack commented on #15
Thanks for the link to the RFC draft about typed arrays, very interesting! It would be great to have support for typed arrays directly in cbor-java and I will accept all PRs implementing it. Also, if you want to add general support for custom tag handlers in cbor-java, your PRs are also very welcome.

If you however decide to do it all in your own library, please leave a link here so others may fi

[2015-12-08 13:20] neothemachine commented on #15
Cool, good to hear. Since I'm not interesting in decoding in Java and
don't have the time to implement both encodign and decoding I think it's
still best if I put the things I need in a separate library for now. I
could not create a pull request that makes sense currently, would be
half baked. If someone decides to add both encoding and decoding of
typed arrays to cbor-java then he can just steal

[2015-12-08 16:42] neothemachine opened #16 "Create git tags for all releases"
It would be good if you could create git version tags for all your releases. This makes it easier to check/reference the source code of a given version.

[2015-12-08 17:15] neothemachine commented on #15
First take on implementing this:
https://github.com/neothemachine/cbor-java-typedarray-encoder/blob/master/src/main/java/uk/ac/rdg/resc/cbor/typedarrays/model/TypedArray.java
It's untested but it should work if I don't have a typo with the tag numbers somewhere.
It's based on cbor-java's ByteString class. Does that look ok to you?

[2015-12-08 19:29] neothemachine commented on #15
I created a first test which succeeds:
https://github.com/neothemachine/cbor-java-typedarray-encoder/blob/master/src/test/java/uk/ac/rdg/resc/cbor/typedarrays/model/TypedArrayTest.java

From my point of view I think I'm done. And it's actually quite easy to build the cbor structure with your own Map implementation, I hadn't realized that before.

[2015-12-08 20:40] c-rack commented on #16
Thanks for reporting!

All git tags have been created now:
https://github.com/c-rack/cbor-java/tags

Will also add a changelog / release notes later.

[2015-12-08 20:40] #16 closed

[2015-12-08 20:47] c-rack commented on #15
Looks good to me. Nice to see that your solution was that easy to build. :-)

So, do you think we can close this issue then?
We could re-open if someone wants to implement it in this project.

[2015-12-08 22:18] neothemachine commented on #15
Yes, I'll close it. I also rename the issue title to include the typed arrays.

[2015-12-08 22:18] #15 closed

[2015-12-08 23:43] neothemachine commented on #15
About the object mapper business. I just created a [small thing for myself](https://github.com/neothemachine/edal-json/blob/9f6694e774b800345920f6856475aea9f8255911/src/main/java/uk/ac/rdg/resc/edal/json/CBORRepresentation.java#L52). It's a single recursive function that maps an Object of supported type to a DataItem instance. This allowed me to use the same simple structures for serializing a thi

[2015-12-09 10:02] c-rack commented on #15
:+1:

[2015-12-11 23:21] neothemachine opened #18 "Remove .clone() for ByteString"
My use case is to encode big byte strings (which are then tagged as typed arrays), possibly up to 100MiB. I haven't profiled it yet, but from previous experience I can smell that the ByteString class will be one source of bottlenecks due to its use of array cloning within the constructor and also in getBytes(). In the ByteStringEncoder the getBytes() method is called and there is absolutely no rea

[2015-12-11 23:29] c-rack commented on #18
The call to `clone()` is a consequence of our goal to pass **all** PMD, CPD and FindBugs tests.

Unfortunately, PMD considers your suggestion as a security problem:
http://pmd.sourceforge.net/pmd-4.3.0/rules/sunsecure.html

I would merge a PR that removes the `clone()` call while preserving the PMD tests passing, for example by providing a proper exclusion of those tests. :-)

[2015-12-11 23:29] neothemachine opened #19 "Add Array(int initialCapacity) constructor"
There's currently no way to create an Array with a hint of the capacity it will have. Since Map already has such a constructor, Array should have it too since it can improve performance in cases where the size is known.

[2015-12-11 23:31] c-rack commented on #19
:+1:

[2015-12-11 23:41] neothemachine commented on #18
OK I understand, I will submit a pull request tomorrow or so. Thanks!

[2015-12-13 10:50] neothemachine commented on #18
I just had a look at how to configure PMD and it seems to be quite tricky to [exclude a rule](http://stackoverflow.com/questions/11645443/can-you-exclude-a-source-file-for-a-specific-pmd-rule) for a specific file or even method. I was hoping for some kind of annotation but that's not how it works apparently. I'm afraid I won't have the time to look into that unfortunately.

Since the encoder is ha

[2015-12-13 12:25] c-rack commented on #18
I'll take care about that :-)

[2015-12-14 08:31] #18 closed

[2015-12-14 08:42] #19 closed

[2015-12-14 09:09] neothemachine commented on #18
Thanks! :)

[2015-12-14 09:12] c-rack commented on #18
Hope to find the time for an official release (also on maven central) today

[2015-12-17 12:25] c-rack commented on #19
Version 0.7 with fixes for #18 and #19 has been published to Maven central:
https://search.maven.org/#artifactdetails|co.nstant.in|cbor|0.7|jar

[2016-01-11 12:06] neothemachine opened #24 "Streaming encoding"
It would be nice if streaming encoding similar to [Jackson](http://wiki.fasterxml.com/JacksonInFiveMinutes#Streaming_API_Example) is added. Important for me would be that I could stream the elements of a ByteString as well, since these form the major part of my payload.

[2016-01-11 12:16] c-rack commented on #24
@neothemachine Basically, streaming encoding and decoding is already implemented. Could you please provide a small pseudo-code example what you want to achieve? Maybe I can help you to find the right direction; if not, I am sure we can find and implement a solution for your problem.

[2016-01-11 12:22] neothemachine commented on #24
The README only has a "Streaming Decoding Example" and I checked the code of CborEncoder to see if it has some kind of streaming interface but couldn't find anything.

[code]
Something like that.

[2016-01-11 12:29] c-rack commented on #24
OK, it is already there but not with a nice DSL as described. You could transform the example above to (free coded, not checked with IDE):

[code]
A more developer-friendly DSL would be much better, of course.

[2016-01-11 12:32] neothemachine commented on #24
I see. It seems natural to me to want to use the CborBuilder as such a DSL. So CborBuilder could be made into an interface where one implementation is the current builder class and the other directly writes to a CborEncoder instance (where the relations could be set up by my proposed `.stream()` call).

[2016-01-11 13:19] c-rack commented on #24
Good idea! Allow me some time to implement this.

[2016-01-11 13:26] neothemachine commented on #24
In parallel I am implementing a generic streaming interface that I can use both with Jackson and cbor-java and which is supposed to be compatible to both, meaning which I can easily write adapters for. I think some things in CborBuilder are actually too much for a streaming interface, so maybe this has to be split in two interfaces or so.

For reference, this is what I currently got (targeted to m

[2016-02-18 07:27] manalishah opened #29 "documentation to simple decode a CBOR file downloaded from the internet"
Hello,

I am completely new to this format and would appreciate if you could help me.
I currently have a bunch of CBOR formatted files that are dumped from Apache Nutch. The question is, how can i simply call decode? or i will have to first create an encoder to map it?
I only need to use the body tag in each response

this is the format of the file
y\x0fk{\n  "url" : "http://168.144.229.73/company

[2016-02-18 08:16] marandus commented on #29
Hi,

you have to parse the body part into a `ByteArrayInputStream` (or to a byte array and then fill it into the `ByteArrayInputStream`), then you can pass it easily to the CBOR decoder. As far as I know (meaning last time I used this library) there is no way to pass a string representation of the byte stream directly into the decoder.

[2016-02-18 09:29] manalishah commented on #29
thanks, I made a pathetic typo and hence couldn't get it working.

[2016-02-18 09:29] #29 closed

[2017-05-16 19:04] felipheggaliza opened #39 "Decode CBOR to primitive data types"
Hi,

I still didn't figure out how to decode CBOR to primitive data types. Can you give me an example?

I have been trying this:

 	ByteArrayInputStream bais = new ByteArrayInputStream(data);

        List<DataItem> dataItems = null;

        try {
            dataItems = new CborDecoder(bais).decode();
        } catch (CborException e) {
            e.printStackTrace();
        }

        JsonObj

[2017-05-16 19:42] c-rack commented on #39
I have added a test case that show how a SimpleValue can be decoded here:
https://github.com/c-rack/cbor-java/blob/master/src/test/java/co/nstant/in/cbor/decoder/SimpleValueDecoderTest.java

Does this help?

[2017-05-24 16:52] felipheggaliza commented on #39
I read this test case, but I really didn't understand how to decode at least the most common data types such as boolean, integer, Strings, etc..

I am having a problem, when I am exchanging messages with a server that is serializing JSON Objects and then when I decode those messages I get something like this:

Problem:
{ status : device not found }
{sucess: SIMPLE_VALUE}

What I was expecting:
{ s

[2017-05-24 17:08] c-rack commented on #39
Ok, understood, so all you need is a proper `toString()` for SimpleValue objects, right?

[2017-05-24 17:41] felipheggaliza commented on #39
Actually I am using toString() on a dataItem. Look:

for (DataItem dataItem : dataItems) {
        // process data item
        Log.d(TAG, "Decoded CBOR: " + dataItem.toString());
    }

Maybe a proper toString() can be the solution for this issue.

In the project I am working now, I an encoding and decoding JSON messages. Therefore sometimes I am getting errors like for example:

Suppose this JSO

[2017-06-02 17:47] felipheggaliza commented on #39
Actually the method dataItem.getMajorType() is returning MAP,  how can I decode a MAP type?

It seems I have a MAP with a SIMPLE_VALUE inside.

[2017-06-03 20:29] c-rack commented on #39
Could you please post the CBOR-encoded byte array for your example? Maybe we can add a unit test that helps to understand the issue. Thanks!

[2017-06-10 11:59] alihaider123456 opened #43 "co.nstant.in.cbor.CborException: Reserved additional information"
can any one tell how to avoid this exception

[2017-06-10 12:03] c-rack commented on #43
@alihaider123456 Could you please provide the byte array you want to decode? Or, even better, send a PR with a failing unit test? Thanks!

[2017-06-10 12:14] alihaider123456 commented on #43
actually i am working on coap client and resource directory and handle message format in resource directory. if i am not send payload then it will execute properly but when i send payload and retrieve on server side then exception will rise client code here
try{
			CborBuilder builder = new CborBuilder();
			builder
			.addMap().put("name","Temperature Monitoring System")
			.put("description", "S

[2017-06-10 12:19] c-rack commented on #43
Could you please provide the hexdump of the payload/byte array after encoding (client side) and before decoding (server side)? Are they the same?

[2017-06-10 12:23] alihaider123456 commented on #43
server side byte
-17-65-67100110971091011202984101109112101114971161171141013277111110105116111114105110103328312111511610110910710010111599114105112116105111110120418310111011511111432115121115116101109321091111101051161111141051101033297114101973211610110911210111497116117114101
-941001109710910112029841011091121011149711611711410132771111101051161111141051101033283121115116101109107100101115991

[2017-06-10 12:24] alihaider123456 commented on #43
server side before
-94100110971091011202984101109112101114971161171141013277111110105116111114105110103328312111511610110910710010111599114105112116105111110120418310111011511111432115121115116101109321091111101051161111141051101033297114101973211610110911210111497116117114101

[2017-06-10 12:24] alihaider123456 commented on #43
both are different

[2017-06-10 12:28] c-rack commented on #43
Ok, then something during the transmission goes wrong. The "-94100..." part is identical on both sides, so I assume that the problem is related to the coap client/server, not with cbor-java.

[2017-06-10 12:41] alihaider123456 commented on #43
i did wrong some code for getting payload. but now its working fine. thanks

[2017-06-10 12:58] c-rack commented on #43
Ok, I'm closing this issue then.

[2017-06-10 12:58] #43 closed

[2017-08-24 10:12] charybr opened #47 "cbor 0.7 on maven repo is out of sync"
Hi,

Appears that cbor 0.7 jar in maven repo (https://repo.maven.apache.org) is different from what we get on building 0.7 from source code.

The issue notificed is:
Using cbor 0.7 downloaded from maven repo gives boolean as SIMPLE_VALUE during decode.
Where as using cbor 0.7 built from source code gives boolean as TRUE or FALSE during decode.

Please update cbor 0.7 on maven repo.

Best Regards,

[2017-08-24 11:53] c-rack commented on #47
Actually, source should be 0.8-SNAPSHOT, not 0.7. I will fix that asap.

[2017-08-27 14:59] charybr commented on #47
Thanks!

[2017-09-26 06:58] #47 closed

[2017-10-01 16:03] andreasWallner opened #49 "Reaction to invalid CBOR"
Looking at the code it seems that a few cases of invalid CBOR do not result on exceptions being thrown, e.g.

[code]

Is this for a specific reason, or did this just never come up? I wanted to use the library to tests clients for a protocol that uses CBOR to encode data, and would need to reject invalid serializations.

The current behaviour is also a bit misleading, since the decode functions' do

[2017-10-01 17:04] c-rack commented on #49
@andreasWallner Thanks for reporting!
This just never came up.
Any PR to fix this would be appreciated and will be merged quickly.

[2017-10-01 20:00] andreasWallner commented on #49
OK, I'm happy to do the change, give me 2-3 days ;-)

[2017-10-01 20:01] andreasWallner commented on #49
sorry pressed the wrong button...

[2017-10-02 23:13] andreasWallner opened #51 "Builder can't be used to construct IL map inside map"
Currently the MapBuilder can't be used to start an indefinite length map, since there is no startMap function. Would you be against adding that?

[2017-10-02 23:14] andreasWallner commented on #51
E.g. construct something like

    BF       # map(*)
       01    # unsigned(1)
       BF    # map(*)
          01 # unsigned(1)
          01 # unsigned(1)
          FF # primitive(*)
       FF    # primitive(*)

[2017-10-02 23:25] andreasWallner opened #52 "Detect duplicate keys in maps"
When parsing encoded CBOR, is there a way to detect duplicate keys in maps? For e.g.

    A2 0101 0102

I'd need to be able to detect this scenario (as this is prohibited for the communication protocol I'm working with). Do you see a way to do that?
Looking at the current code, the element is just replaced in the map, would you be open to e.g. make this behavior configurable?

[2017-10-03 06:39] c-rack commented on #51
No, that would be a nice enhancement.

[2017-10-03 06:39] c-rack commented on #52
Yes, feel free to submit a PR.

[2017-10-03 06:42] #49 closed

[2017-10-03 22:24] andreasWallner commented on #51
merged with PR #53

[2017-10-03 22:24] #51 closed

[2017-10-04 11:42] andreasWallner commented on #52
merged with #54

[2017-10-04 11:42] #52 closed

[2017-10-05 20:15] andreasWallner opened #55 "Tagged tags are not parsed correctly"
If a tag is followed by a tag followed by a data item, the parsed representation will not include the inner tag.

    @Test
    public void foo() throws CborException {
        List<DataItem> items = CborDecoder.decode(new byte[] {(byte) 0xC1, (byte) 0xC2, 0x02});
        DataItem item = items.get(0);
        Tag outer = new Tag(1);
        Tag inner = new Tag(2);
        inner.setTag(outer);

[2017-10-09 19:19] andreasWallner commented on #55
fixed with #56

[2017-10-09 19:19] #55 closed

[2017-10-09 20:12] andreasWallner opened #57 "Builder & Tags: result doesn't match parsed results"
While using the library I stumbled upon how the builder currently handles tags. There seems to be quite a difference between what the Builder produces and what the Decoder will produce:

    new CborBuilder().addTag(1).add(22)

which results in a list of two items, the first being the tag, the second being the integer. If we encode the result we will get (as expected):

    C116

If we decode the

[2017-10-13 23:42] naveenkumarmarri opened #58 "nstant.in.cbor.CborException: Reserved additional information"
Hi,

I'm trying to decode cbor.
When I'm decoding i'm getting the following error.
`
co.nstant.in.cbor.CborException: Reserved additional information
	at co.nstant.in.cbor.decoder.AbstractDecoder.getLength(AbstractDecoder.java:70)
	at co.nstant.in.cbor.decoder.MapDecoder.decode(MapDecoder.java:19)
	at co.nstant.in.cbor.CborDecoder.decodeNext(CborDecoder.java:136)
	at co.nstant.in.cbor.decoder.MapD

[2017-10-14 08:11] c-rack commented on #58
@naveenkumarmarri could you please provide a minimal example to reproduce this issue? Please also include the bytes you are trying to decode.

[2017-10-14 08:20] c-rack commented on #57
I am a little bit undecided about this, because then, the `tagged()` call is not part of the fluent interface. On the other side, implementing a `startTag()` / `endTag()` might bloat the code, but it would nicely fit into the existing builder (the `addTag` method could be marked as deprecated then):

[code]

[2017-10-14 13:35] naveenkumarmarri commented on #58
Following is byte array

`95,27,20,-17,-65,-67,-17,-65,-67,101,118,97,108,117,101,-17,-65,-67,64,77,38,-17,-65,-67,-17,-99,-78,45,105,101,118,101,110,116,84,121,112,
112,101,97,52,103,115,117,98,106,101,99,116,107,116,101,109,112,101,114,97,116,117,114,101`

Following is the code I'm trying to use. I'm listening on a coap port for incoming packets and decoding them using cbor

`CoapServer server =

[2017-10-16 11:55] andreasWallnerIFX commented on #57
You're right, it breaks the fluent interface. On the otherhand I'm not sure if the interface is of much use, since there can only ever be one item inside a tag to keep everything well formed. To keep the interface easy to use correctly I'd much rather go for something that looks like:

    x = new CborBuilder()
        .addTagged(2).addTagged(1).add("foobar")
        .build()

So that the TagBuild

[2017-10-16 12:26] andreasWallnerIFX commented on #58
Converted to hex (easier for most tools...) this is

    5f 1b 14 ef bf bd ef bf bd 65 76 61 6c 75 65 ef bf bd 40 4d 26 ef bf bd ef 9d b2 2d 69 65 76 65 6e 74 54 79 70 70 65 61 34 67 73 75 62 6a 65 63 74 6b 74 65 6d 70 65 72 61 74 75 72 65

Looking at that it looks like invalid data to me: `5F` starts an indefinite length byte string. The first element in the indefinite length byte string is an un

[2017-10-26 20:18] naveenkumarmarri commented on #58
HI,
Following is the byte string i'm getting in Hex format.
```` EF BF BD 62 74 73 1B 00 00 01 5F 5A 51 C3 A8 65 76 61 6C 75 65 EF BF BD 40 4C EF BF BD EF BF BD 68 72 EF BF BD 69 65 76 65 6E 74 54 79 70 65 61 32 67 73 75 62 6A 65 63 74 6B 74 65 6D 70 65 72 61 74 75 72 65 ````
Still I'm getting reserved additional information error

[2017-10-26 20:42] c-rack commented on #58
@naveenkumarmarri could you please provide the code to generate this byte string?

[2017-10-26 21:14] naveenkumarmarri commented on #58
[code]

[2017-10-27 06:48] c-rack commented on #58
@naveenkumarmarri thanks, but not what I was looking for (my question was not precise enough).
You posted sourcecode that receives some data that fails to decode. I wanted to see the code that actually produces that data *before sending* to your server.

Could you also provide a minimal example with encoding and (failing) decoding, but without any network transmission? This way, we can exclude a b

[2017-11-01 17:10] naveenkumarmarri commented on #58
The CBOR encoding is done from a node application and  streamed to a java application using CoAP protocol where the decoding is being done.
Would you like to see how the encoding is done from the node js side?

[2017-11-01 17:30] andreasWallner commented on #58
@naveenkumarmarri It seems something is going wrong on either the encoding side or transmission, judging from the latest CBOR data that you posted.

The `EF BF BD` in the beginning (and inbetween) doesn't really make sense:
* `EF` is an item with Major Type 5, Additional Info 15. This is a "simple value" that is currently not assigned by the spec - not a problem, but also doesn't make too much sen

[2017-11-01 17:46] naveenkumarmarri commented on #58
@andreasWallner I  want to extract the values starting from the "ts" tag.
I'm able to decode the cbor in nodejs.

[2017-11-01 17:50] andreasWallner commented on #58
@naveenkumarmarri Then the nodejs library that you are using either has a bug or ignores invalid data. You can check with e.g. cbor.me that what you posted 6 days ago is not valid CBOR. To get it to parse with this library you'll have to fix your encoding.

[2017-11-01 18:03] c-rack commented on #58
@naveenkumarmarri yes, a minimal example source that shows the encoding (even in nodejs) would help.

[2017-11-06 17:00] uptimestar opened #59 "new release to maven please"
Hi, can you push another release to maven. Last one is from 2015 and there are changes since then.

[2017-11-06 19:13] naveenkumarmarri commented on #58
[code]

[2017-11-06 19:32] c-rack commented on #58
@naveenkumarmarri that is only a code snippet without any valuable information. What I was asking for is a minimal but complete example how the data is CBOR-encoded (so that we can run it on our own), for example something like (I am not a JS expert):
[code]

[2017-11-09 23:05] andreasWallner commented on #57
I took a stab at the implementation using the fluent interface. I started with integrating it into the ArrayBuilder, you can have a look at it in my branch here: andreasWallner@02ed1ce077279242356530cd9c30de78edcbfd6d

I think for the ArrayBuilder this looks quite nice (and therefore by extension for the root builder). The thing I did not find a good solution for (from an API perspective) is maps:

[2017-11-13 00:29] #58 closed

[2017-11-16 20:40] c-rack commented on #59
@uptimestar sorry for the delay, hope to find the time to do a release this weekend

[2017-11-18 20:56] #59 closed

[2017-11-23 05:58] c-rack commented on #59
Just for reference, version 0.8 has been released:
http://search.maven.org/#artifactdetails%7Cco.nstant.in%7Ccbor%7C0.8%7Cjar

[2018-03-22 14:56] Raveesh opened #63 "Issue while encoding Json string"
Hi,
Apologies if the question is not clear. I am a newbie to cbor.
My scenario is as follows:
We are building a large IOT platform where we need to communicate with devices from the cloud. We have a reqirement to  push configurations to the devices. The configurations essentially are in the [JsonApi Spec format](http://jsonapi.org/format/). So, essentially, the platform exposes REST api's to accep

[2018-03-22 19:27] c-rack commented on #63
@Raveesh cbor-java is only an encoder and decoder library for CBOR format. It does not understand JSON. You put in a string, so it will encode it as a string. In order to encode your JSON to CBOR, you either need to write a JsonCborEncoder for yourself or use another library that is capable to do that.

[2018-03-22 19:27] #63 closed

[2018-04-11 03:09] c-rack commented on #39
@flurryCat if you get a DataItem of type Array, simply cast that object to Array in order to access the array elements:

[code]

https://github.com/c-rack/cbor-java/blob/master/src/main/java/co/nstant/in/cbor/model/Array.java#L21
Same holds for other types.

[2018-06-01 12:23] bosco-ferrao opened #64 "Difficult to decode byte array e.g. byte[]"
Found it difficult to use byte array e.g. byte[]. One can encode but how to decode?

[2018-06-01 13:08] c-rack commented on #64
@bosco-ferrao I have just commited an example code:
https://github.com/c-rack/cbor-java/blob/master/src/test/java/co/nstant/in/cbor/decoder/ByteStringDecoderTest.java#L79-L98

Please close this issue if that was what you are looking for.

[2018-06-07 18:33] c-rack commented on #64
Closed due to inactivity.

@bosco-ferrao feel free to re-open if there is still something unclear.

[2018-06-07 18:33] #64 closed

[2018-06-15 05:32] jas-singh14 opened #65 "Documentation for cbor-java library"
I am interested in knowing the usage of CBOR library. Can you please suggest appropriate documentation?

[2018-06-15 07:25] jas-singh14 opened #66 "Compatibility with peteroupc library(https://github.com/peteroupc/CBOR-Java)"
We have a situation where client has to use peteroupc CBOR (https://github.com/peteroupc/CBOR-Java) library whereas server has to use c-rack CBOR library(https://github.com/c-rack/cbor-java)
Although both comply to RFC 7049. but wanted to doubly sure if there are any potential challenges/issues w.r.t to the above mentioned arrangement.

[2018-06-17 07:40] c-rack commented on #66
@jas-singh14 Please see the issues tab for any open issues of this project. Regarding compatibility with other libraries, you may have to either test this by yourself or pay someone to do this for you.

Closing this issue as it does not describe a problem. Feel free to re-open if needed.

[2018-06-17 07:40] #66 closed

[2018-06-18 14:18] jas-singh14 opened #67 "Escaping of special characters while serialization and de-serialization"
How special characters in JSON strings are handled by c-rack library while serialization and de-serialization?
Also is the behaviour same for all the CBOR libraries that conform to RFC 7049?
Please clarify.

[2018-06-18 14:34] jas-singh14 commented on #67
Doesn't this library converts from JSON to CBOR and vice versa?

[2018-06-18 14:50] c-rack commented on #67
No, it does not. It encodes and decodes from Java types to CBOR and vice versa.

[2018-06-28 21:07] c-rack commented on #65
@jas-singh14 there is no documentation other than the test package, as @andreasWallner already mentioned. If you would like to contribute, feel free to submit a pull request with documentation. I am closing this question for now.

[2018-06-28 21:07] #65 closed

[2018-08-07 21:06] Jeyhey opened #77 "How to decode"
Please show in your example how to extract the encode data. You only show
`for(DataItem dataItem : dataItems) {
    // process data item
}`
This is not very helpful. Please add the code to get back the data you encoded in the encoding example.

[2018-08-08 15:22] fatboyfitz opened #78 "Infinite loop during decode"
Decoding certain byte strings cause an infinite loop in MapDecoder.decodeInfinitiveLength(). The issue is that the input stream is exhausted, so decodeNext() always returns null. Null is never checked for an exit condition to the infinite loop. The data is not well formed CBOR, I realize, but I assumed that the decoder should throw in exception for malformed input.

Below is a base64 encoded byte

[2018-08-08 16:13] c-rack commented on #78
@fatboyfitz Thanks for reporting. Could you please send a pull request to fix it? I'll merge it quickly and release a new version then.

[2018-08-08 16:30] c-rack commented on #78
@fatboyfitz You could first send a pull request which introduces a failing unit test. I guess that should be easy. Then, another pull request (by you or by me) can provide the actual fix.

Quickly scanning the code, we already have a detection for unexpected end of streams:
https://github.com/c-rack/cbor-java/blob/master/src/main/java/co/nstant/in/cbor/decoder/MapDecoder.java#L37-L39

Maybe your u

[2018-08-08 16:47] fatboyfitz commented on #78
My apologies - this was fixed in a later release than I was testing against. The github releases page only shows up to 0.7, which is what I was using. The latest on master has the check you mention and does indeed catch this problem.

[2018-08-08 16:47] #78 closed

[2018-08-08 16:52] c-rack commented on #78
You're welcome!

[2019-02-01 19:04] bxpan commented on #77
Agree. Would love to see some examples on decoding.

[2019-05-04 01:14] cavenaghi9 opened #89 "Getting out-of-order outputs when using map builder"
I try to put key and values with MapBuilder, for instance

mapBuilder.put(-2, "v1");
mapBuilder.put(0, "v2");

However, key 0 will on first item, when encoding map. Is it possible to keep the same order what I inserted?

[2019-05-04 09:42] c-rack commented on #89
[Map](https://github.com/c-rack/cbor-java/blob/master/src/main/java/co/nstant/in/cbor/model/Map.java) internally uses a HashMap. If you come up with a PR that changes the current HashMap implementation to a TreeMap one, I will merge it.

[2019-05-22 05:25] beclever commented on #89
I found that it was not the [https://github.com/c-rack/cbor-java/blob/master/src/main/java/co/nstant/in/cbor/model/Map.java](url)  but the sortedMap of TreeMap
 type in [https://github.com/c-rack/cbor-java/blob/master/src/main/java/co/nstant/in/cbor/encoder/MapEncoder.java](url) caused the problem. In the case, -2 encode as 33, 0 encode as 0, so key 0 will on first item. I don't know why it should

[2019-07-29 02:56] Gvinaxu opened #93 "serialize and deserialize"
hello,rack .I want to serialize a data, but I have a problem.

Help me see the problem.

throws co.nstant.in.cbor.CborException: Reserved additional information;

example code：

[code]

[2019-07-29 06:57] Gvinaxu commented on #93
I fixed the problem，code is as follows
[code]

[2019-07-29 06:57] #93 closed

[2019-08-05 16:06] c-rack commented on #89
The TreeMap is used because the CBOR specification has a section about a canonical format:
https://tools.ietf.org/html/rfc7049#section-3.9

One could consider to introduce a non-canoncial mode, which does not use a TreeMap. Any PRs in that direction are welcome.

[2019-10-29 11:06] illumi commented on #89
I'm also interested in map insertion order. How would you prefer to configure such a mode?

[2019-11-01 11:07] #89 closed

[2019-11-01 11:08] c-rack commented on #89
@cavenaghi9 @beclever @illumi I have pushed an update that keeps the order of map entries if the non-canonical mode is active (see README). Publishing to maven central follows.

[2019-11-27 15:59] vcamargo commented on #89
@c-rack when the version 0.9 of the library will be available on maven central repository?

[2019-12-10 11:49] divegeek opened #97 "Release 0.9"
Hi, there are a couple of improvements and bugfixes in 0.9 that I need, but 0.8 is the latest version in the public repositories, so 0.9 isn't easy to specify as a dependency.

[2019-12-10 22:03] divegeek commented on #97
Hmm.  Just noticed that 0.9 isn't release.  So this really should be "release 0.9", please.  :-)

Updated accordingly.

[2019-12-10 22:10] divegeek commented on #57
+1 for this issue.

My current workaround is to build, encode and decode in order to get the right object representation.  I only have to do this for unit tests, so it's not too terrible, but it's pretty ugly.

Andreas' approach looks good to me, though I don't think "addTagged" makes sense, and I'd prefer to see the tags added after the value they tag, e.g.

`x = new CborBuilder()
    .add("fooba

[2019-12-11 09:58] andreasWallner commented on #57
@divegeek As hinted at in my last message, I did not find a nice solution that had a fluent-like interface, those did not work out for the map case.
In our local fork I went ahead an implemented my initial approach (as shown in the initial issue text), and did not stick with the fluent interface. I'd be happy to share that - I'll push a branch once I get home.

[2019-12-11 11:12] divegeek commented on #57
@andreasWallner I think my approach should work with maps, though I haven't tested.  It certainly could, structurally.  I'll check, and make the appropriate tweaks as needed.

[2019-12-11 11:23] divegeek commented on #57
I added a map to the test case in my PR. Works fine; no change to the implementation required.

[2019-12-12 00:34] divegeek commented on #57
Actually... it occurred to me this morning that there's another case that isn't handled well: tagging of map entries.  This is trickier because the put(x, y) syntax doesn't provide any obvious way to include tags.

I'm thinking about implementing support for the following syntax:

[code]

With that approach, it would be easy enough to support, e.g.:

[code]

So that keys and values could be tagged

[2019-12-12 02:51] divegeek commented on #57
My PR now implements the above.  So it supports nested tags, tags on maps and map entries, and tags on arrays and array entries, and all cases (unless I missed something) the fluent interface using tagged() produces the same object structure as the parser.

[2019-12-12 08:39] andreasWallner commented on #57
@divegeek The drawback of the interface that I see is that you can't do a streaming write, which was one of the reasons for my original statement that I don't see a nice way of implementing tags in the interface. (which was raised in #24 )
How do you put a tagged map into a map using your current interface? (I guess you could do that with an additional function in the MapEntryBuilder?)

Another dr

[2019-12-25 11:16] #57 closed

[2019-12-25 11:19] c-rack commented on #57
Haven't been online for a while and saw this PR unmerged. So I have merged it according to our C4 process.

[2019-12-25 11:20] c-rack commented on #57
@divegeek what do you think about the drawbacks that @andreasWallner mentioned?

[2020-02-16 06:02] chaingrok commented on #97
Hi, I concur : 0.9 is not release on mvnrepository, do you plan to do it?

[2020-02-26 15:52] divegeek commented on #97
Can I release it on mvnrepository?  I don't know how, or if I have permission.  I'd think only someone who "owns" the project in some sense can, but I've never worked with mvnrepository so I don't know.

[2020-02-27 13:40] c-rack commented on #97
@divegeek I'll do the release today and update once it's in the mvn repo

[2020-03-06 16:08] divegeek commented on #97
Thank you very much!  I'll update the copy in Android once you do.

[2020-04-05 03:37] c-rack commented on #97
@divegeek @chaingrok Version 0.9 is now in available in Maven Central. Sorry for the delay and any inconvenience!

[2020-04-05 03:37] #97 closed

[2020-04-15 16:14] divegeek commented on #97
Thanks!

[2020-07-13 20:22] davidz25 opened #106 "Tag for v0.9"
The "Maven Dependency" section of Maven Dependency says to use 0.9 but I can't find a v0.9 tag anywhere so I'm wondering if there's even been a 0.9 release? If I go to https://github.com/c-rack/cbor-java/tags the latest release is v0.8. Would it be possible to add a v0.9 tag? Thanks!

(The reason I'm asking is that we're planning to release an [Android Jetpack](https://developer.android.com/jetpac

[2021-05-03 20:24] Thorbear commented on #106
Looks like it might have been built from https://github.com/c-rack/cbor-java/commit/ec5a2ba19ad96520f830dabe15f7458e9ef279b9 ? At least it matches the release date shown in Maven Central, and the other changes from that day are included in the package on Maven Central.

[2021-05-31 01:04] Hawk777 opened #118 "Published JavaDoc is outdated or incomplete"
The README in this repo links to [the JavaDoc documentation here](http://c-rack.github.io/cbor-java/apidocs/index.html). That documentation does not say anything about `DataItem` having a `getTag` method; however, it does, at least in version 0.9.

[2021-09-07 15:29] vivekidem opened #119 "The CBOR library is sensitive to a DOS attack"
Hi Team,

According a specially crafted message, the library will try to allocate a message that is way above the memory capacity.

For a CBOR array input. The code was trying to decode the CBOR array before trying to use the byte[]. The library that has no limit on the allocation memory that is requires -> an attacker could get craft a packet that will ask the library to allocate an object that w

[2021-09-23 13:40] sbahloul commented on #119
Let me put a bit of background here: the problem is that library is trying to allocate an amount of memory that is too important for the environment that causes an OutOfMemoryError. So the library itself is not sensitive to a DOS attack, but sending a specially crafted package to a service that is relying on the library to parse CBOR, will generate a crash.

Looking to implement a fix, we would li

[2021-11-08 23:00] DavidKorczynski opened #122 "Fuzzing cbor-java by way of OSS-Fuzz"
Hi!

I was wondering if you would be interested in getting cbor-java fuzzed by OSS-Fuzz? Fuzzing is a technique for stress-testing applications and OSS-Fuzz is a service run by Google for fuzzing important open source projects, and it would be great to get cbor-java integrated with OSS-Fuzz. OSS-Fuzz will run the fuzzers continuously and report back with bug reports when bugs are found. These repo

[2021-11-09 11:14] c-rack commented on #122
@DavidKorczynski yes, that would be very appreciated!

[2021-11-09 13:48] DavidKorczynski commented on #122
Wonderful @c-rack - the only thing needed is an email(s) connected to a Google account that can be used for receiving the bugs reports, which email can I use?

[2021-11-19 18:52] DavidKorczynski commented on #122
@c-rack ping (on the email)?

[2021-11-28 18:53] Avamander opened #123 "Creating a finite/fixed-size map"
Quite a few embedded libraries do not like indefinite-sized CBOR maps (or arrays for that matter).

For demonstration, I created a map with:
[code]

and the resulting map is:
[code]

Is there a way to assemble a map that has a specified length in the end result?

[2021-11-28 19:32] c-rack commented on #123
Hi @Avamander, is commit https://github.com/c-rack/cbor-java/commit/0ef74dc1a8dfa74fbb5cdcba6b64ad185bb1ba54 what you are looking for?

[2021-11-28 19:47] Avamander commented on #123
It probably is if you're proposing it :sweat_smile: as you know your library and CBOR much better.

I could test it out specifically if at some point you'd make a release with the change incorporated, I don't know how to build this library myself.

[2022-01-25 16:44] jhannes opened #127 "Could decoding be more ergonomic?"
I'm trying to use cbor-java to implement webauth. In this case, I need to get a COSE from a subset of a binary field in a CBOR object. The code for doing this with cbor-java could be more ergonomic:

[code]

(please disregard the KeyFactory, AlgorithmParameters and ECGenParameterSpec stuff - this is java.security stuff)

In an ideal world, I would be able to write something like:

[code]

Would yo

[2022-04-22 08:03] c-rack commented on #122
@DavidKorczynski constantin.rack@gmail.com

[2022-05-25 22:44] c-rack commented on #122
@DavidKorczynski Thanks! What would be the next steps? Or could this issue just closed?

[2022-05-25 22:46] c-rack commented on #127
@jhannes Yes, a PR would be very appreciated!

[2022-05-25 22:47] c-rack commented on #119
@vivekidem Would you like to make a PR that fixes this?

[2022-05-30 10:25] NeilMadden opened #147 "Define `Automatic-Module-Name` in manifest"
When including cbor-java as a dependency of a project using Java 9 modules, the build process produces the following warning:

[code]

This is because Java will convert the jar file to an [automatic module](https://stackoverflow.com/questions/46741907/what-is-an-automatic-module), whose name is based on the name of the jar file itself, which is (apparently) not guaranteed to be the same across bui

[2022-05-30 20:19] c-rack commented on #147
@NeilMadden Thank you for opening this issue! If you send a PR, I'll merge it asap.

[2022-06-16 08:51] #147 closed